### Importing Libaries

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
%precision 3

u'%.3f'

In [8]:
fileName='/home/xenon/extensomllearn/Machine Learning A-Z/Part 1 - Data Preprocessing/Data_Preprocessing/Data.csv'

### Reading the CSV File Using Pandas Library

In [9]:
dataset=pd.read_csv(fileName)
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### For Machine Learning We need features and lables. 'x' is feature and 'y' is label

In [35]:
x=dataset.iloc[:,:-1].values
#dataset.iloc[:,:-1] means that we want all the rows and columns except for the last column

In [20]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [23]:
y=dataset.iloc[:,3:].values
y

array([['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

### Handling the Missing Data

In [31]:
from sklearn.preprocessing import Imputer
imputer =Imputer(missing_values='NaN',strategy='mean', axis=0)

In [32]:
imputer=imputer.fit(x[:,1:3])

In [33]:
x[:,1:3]=imputer.transform(x[:,1:3])

In [34]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

### Encoding Categorical Data

In [45]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [42]:
labelencoder_x=LabelEncoder()

In [43]:
x[:,0]=labelencoder_x.fit_transform(x[:,0])

In [44]:
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

### Dummy encoding: We create three columns instead of one acontaining unique number for each category. We need to do this since no relation exists between the number. Example France and Germany are encoded as 0 and 1 but the relation `0<1` does not apply since we cannot say `France < Germany`

In [46]:
onehotencoder=OneHotEncoder(categorical_features=[0])

In [47]:
x=onehotencoder.fit_transform(x).toarray()

In [48]:
x

array([[1.000e+00, 0.000e+00, 0.000e+00, 4.400e+01, 7.200e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 2.700e+01, 4.800e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 3.000e+01, 5.400e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 3.800e+01, 6.100e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 4.000e+01, 6.378e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 3.500e+01, 5.800e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 3.878e+01, 5.200e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 4.800e+01, 7.900e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 5.000e+01, 8.300e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 3.700e+01, 6.700e+04]])

In [49]:
labelencoder_y=LabelEncoder()

In [50]:
y=labelencoder_y.fit_transform(y)

/usr/local/lib/python2.7/dist-packages/sklearn/preprocessing/label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [51]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

### Splitting the data into testing and training set.

In [54]:
from sklearn.model_selection import train_test_split

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [59]:
x_test

array([[0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 5.0e+01, 8.3e+04]])

In [60]:
y_test

array([0, 0])

### Feature Scaling: Since all the features are not in same scale we need to bring them to same scale.

In [63]:
from sklearn.preprocessing import StandardScaler

In [65]:
sc_x=StandardScaler()

In [66]:
x_test=sc_x.fit_transform(x_test)
x_train=sc_x.fit_transform(x_train)

In [67]:
x_test

array([[ 0.,  0.,  0., -1., -1.],
       [ 0.,  0.,  0.,  1.,  1.]])

In [68]:
print(x_test)

[[ 0.  0.  0. -1. -1.]
 [ 0.  0.  0.  1.  1.]]

In [69]:
x_train

array([[-1.   ,  2.646, -0.775,  0.263,  0.124],
       [ 1.   , -0.378, -0.775, -0.254,  0.462],
       [-1.   , -0.378,  1.291, -1.975, -1.531],
       [-1.   , -0.378,  1.291,  0.053, -1.111],
       [ 1.   , -0.378, -0.775,  1.641,  1.72 ],
       [-1.   , -0.378,  1.291, -0.081, -0.168],
       [ 1.   , -0.378, -0.775,  0.952,  0.986],
       [ 1.   , -0.378, -0.775, -0.598, -0.482]])